<div id="loading-block">Загрузка...</div>
<button id="reload-button" style="display: none;">Повторить</button>
<div id="filter-block" style="display: none;">
    <input type="text" placeholder="название города" id="filter-input">

    <div id="filter-result"></div>
</div>